<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <link rel="stylesheet" href="/stylesheets/auth.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

    <main style="margin-left: 2rem; margin-right: 2rem">
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%=errorMessage %></div>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
</body>